.section {
    position: relative;
    padding: 180px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section__title{
    margin-bottom: 100px;
}
.posr{
    position: relative !important;
}


.section__number {
    position: absolute;
    top: 0;
    left: 258px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: .02;
    font-size: 400px;
    line-height: 1;
    z-index: -1;
}

.section__number_right{
    right: 258px;
    left: unset !important;
}
.section__number_middle{
    top: 50%;
    transform:translateY(-50%)
}



#cta:before{
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
}

@media(max-width: 1500px){
    .section__number{
        left:8px;
    }

    .section__number_right{
        right:8px;
    }
}